html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
}

.col {
    margin-top: 12px;
    margin-bottom: 12px;
}

footer {
    height: 200px;
    background-color: rgba(85, 107, 47, 0.151);
    padding: 70px;
}

header {
    align-content: center;
    text-align: center;
    background-color: rgba(85, 107, 47, 0.151);
}

.li {
    width: 100px;
    padding: 10px;
    text-align: center;
}

.navbar.navbar-dark.bg-dark.navbar-expand-sm {
    color: white;
}

img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-fluid {
    width: 450px;
}

form {
    display: table;
    margin: auto;
}

.btn:hover {
    color: white;
    background-color: rgb(75, 112, 75);
}

.btn-outline-secondary {
    margin-bottom: 50px;
    margin-top: 50px;
}

label {
    color: rgb(75, 112, 75);
}

#nameHelp {
    color: rgba(128, 128, 128, 0.63);
}

#emailHelp {
    color: rgba(128, 128, 128, 0.63);
}

meta {
    width: 50px;
}

#goodbye {
    width: 50px;
}